* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

body {
  background-color: #808080;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  background-color: #606060;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px #b9b9b9;
  border-radius: 5px;
  font-size: 14px;
  

  &__sidebar {
    background-color: #707070;
    width: 240px;
    height: 100%;
    padding: 60px 20px;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
  }
}

.button {
  background-color: rgb(245, 245, 0);
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($color: rgb(245, 245, 0), $amount: 6%);
  }
}

.field {
  background-color: rgb(150, 150, 150);
  border: 1px solid rgb(87, 87, 87);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px 12px;
  width: 100%;

  &:focus {
    border-color: rgb(82, 82, 82);
  } 
}