.list {
    $self: &;
    margin-bottom: 20px;

    &__add-button {
      opacity: 0.4;
      
      span {
        color: rgb(32, 32, 32);
      }

      &:hover {
        opacity: 1;
      }
    }

    &__remove-icon {
      opacity: 0;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding: 10px 12px;
      cursor: pointer;
      color: #FFF;

      
      span {
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover {
        background-color: lighten($color: #707070, $amount: 3);
        #{$self}__remove-icon {
          opacity: 0.4;
        }
      }

      &.active {
        background: #606060;
        box-shadow: 0px 2px 10px rgba($color: #000000, $alpha: 0.05);
        border-radius: 4px;
      }

      .badge {
        position: relative;
        left: 4px;
      }

      i {
        display: inline-flex;
        margin-right: 8px;

        svg {
          width: 15px;
        }
      }

      
    }
  }